
:root {
    --yellow: #FFC93C;
    --grey : #5F5F5F;
    --headerGrey : #9C9C9C;
    --darkGrey :#494949;
  }

/******************Constants***********************/
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.heading {
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

header .container {
    display : flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin: 0 120px;
    
}

header .container .logo {
    font-weight: bold;
    color: var(--yellow);
}
header{
    background-color: var(--grey)
}

header .hamBurger {
    display:none;
}

header .list ul {
    list-style: none;
    display: flex;
    color: white;
}

header .list ul li:not(:last-child) {
    margin-right: 20px;
}

header .hamBurger:hover {
    cursor: pointer;
}

.is-active span:nth-child(2){
    opacity: 0;
}

.is-active span:nth-child(1){
    transform : translateY(335%)  rotate(45deg);
}

.is-active span:nth-child(3){
    transform: translateY(-180%) rotate(-45deg);
}

/* landing page */
#landing-page {
    height: 90vh;
    width: 100%;
    background-image: url(./images/crop.jpg);
    color:white;
}
#landing-page .container {
    display: flex;
    flex-direction: column;
}
#landing-page .landing-page-heading {
    display: block;
    text-align: center;
    font-size:110px;
    position: relative;
    top: 50vh;
}

#landing-page .landing-page-sub-heading {
    text-align: center;
    font-size:50px;
    position: relative;
    top: 50vh;
}
/* landing page ends */



    /* car tariff */
    #select-ride {
        background-color: var(--yellow);
    }
    #select-ride .container .heading {
        font-size: 45px;
        font-weight: bolder;
        text-align: center;
        color: white;
    }

    #select-ride .container .tariff:not(.horizontal-line){
        display: flex;
        align-items: center;
        justify-content:space-around;
        font-family: 'Oswald', sans-serif;
        font-weight: normal;
        font-size:40px;
        padding : 0 300px;
    }
    
    #select-ride .container ul {
        list-style: none;
    }
    #select-ride .container ul li:not(last-child) {
        margin: 10px 0;
        font-weight: bolder;
    }

    /* Car tariff ends */

    /* car images */
    #car-images {
        background-color: var(--darkGrey);
    }
    
    #car-images .car-image-list{
        display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
        }
        
    #car-images .car-list div {
        text-align: center;
    }
    #car-images .car-list img{
    width:25vw;
    height: 300px;
    width: 400px;
    object-fit: contain;
    background-color:white;
    border-radius: 124px;
    /* transform: scale(1.2); */
    }

    #car-images .car-list {
        margin: 20px 20px;
    }
    /* car images ends here */
    /* reasons */
    
    #why-us {
        background-color: var(--yellow);
        height: 60vh;
    }

    #why-us .heading{
        color : var(--darkGrey);
    }

    #why-us .container {
        margin: 0 60px;
        display: flex;
        flex-direction: column;
    }

    #why-us .reasons {
        display: flex;
        margin-top: 5%;
    }

    #why-us .reasons-heading{
        font-size: 30px;
        font-weight: 400;
        color: var(--yellow);
        position: relative;
        top: 20%;
    }
    
    #why-us .reasons-text{
        color: white;
        font-weight: lighter;
        position: relative;
        top: 25%;
    }
    #why-us .reasons-container{
        background-color: var(--darkGrey);
        margin: 0 10px;
        padding:0 10px;
        height: 35vh;
        border-radius: 15px;
        padding-left: 4%;
        flex: 1 1 0px
    }
    /* reasons ends here */
    /* commons */
    .horizontal-line{
        background-color: black;
        color: black;
        width:5px;
        align-items:center;
        height: 400px;
    }
    /* Common ends */

    /* popular cars */
    #popular-cars .popular-cars-outline{
        border: 3px solid var(--yellow);
        border-radius: 170px;
        margin-top: 30px;
        margin-left: 30px;
    }
    #popular-cars .heading{
        color:var(--yellow);
    }
    
    
    #popular-cars .popular-cars-container img{
        height: 300px;
        transform: scale(1);
        width: 450px;
        object-fit: contain;
    }

    .scale-1 {
        transform: scale(1.3) !important;
    }

    #popular-cars .popular-car-image {
        background-color: white;
        border-radius: 180px;
    }

    #popular-cars .popular-cars-container{
        display: flex;
        margin: 20px 0;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
    }


    #popular-cars {
        background-color: var(--grey);
    }

    #popular-cars .popular-car-price {
        color: white !important;
    }

    footer {
        background-color: var(--yellow);
        height: 40vh;
    }

    footer .container {
        display: flex;
        flex-direction: column;
    }

    footer .heading {
        color: var(--darkGrey);
    }

    footer .contact-number{
        text-align: center;
        margin: 20px 0;
    }

    footer .contact-number{
        font-size :25px;
        font-weight : bolder;
    }

    .car-details {
        text-align: center;
        font-size:30px;
        background-color: var(--darkGrey);
        color: var(--yellow);
    }
    /* popular cars ends */

@media (max-width: 1200px) {

    body{
        overflow-x: hidden !important;
    }

    header .container {
        flex-direction: column;
    }

    header .list{
        position: absolute;
        top: -110px;
        transition: all 0.5s ease;
    }
    header .list ul {
        flex-direction: column;
        width: 100vw;
        align-items: center;
        justify-content:center;
    }

    .popular-car-image {
        display: none;
    }

    header .list {
        align-items: center;
    }

    header .hamBurger {
        display: block;
        position: absolute;
        top: 3px;
        right : 10px;
    }

    header .hamBurger span {
        width : 30px;
        height : 3px;
        background: white;
        color:red;
        display:block;
        margin-top: 5px;
        transition: all 0.25s ease-in-out; 
    }

    header .is-active {
        top: 20px;

    }
    
    #select-ride .container .tariff:not(.horizontal-line){
        justify-content:space-evenly !important;
        padding: 0;
        
    }


    #landing-page .landing-page-sub-heading {
        font-size: 20px;
    }
    #landing-page .landing-page-heading {
        font-size:40px
    }
    #select-ride .container .tariff:not(.horizontal-line){
        font-size:20px;
    }
    #why-us .reasons {
        flex-direction: column;
        height: 80vh;
    }
    
    #car-images .car-image-list{
        
        flex-direction: column;
    }
    
    #car-images .car-list img{
        width: 300px;
        height: 200px;

    }

    #car-images {
        height: 1200px;
    }

    #why-us {
        height: 90vh !important;
    }
    .heading, .logo {
        font-size: 20px;
    }

    #why-us .reasons-heading{
        font-size: 22px !important;
    }

    #why-us .reasons-text{
        font-size: 12px !important;
    }


    #popular-cars .popular-cars-container img{
        object-fit: contain;
        transform: scale(0.5);
        max-height: 200px;
    }

    #popular-cars .popular-car-image {
        width: 200px;
        left: 0 !important;
        background-color:none !important;
    }

    #popular-cars .popular-car-image img {
        position: relative;
        left: 0 !important;
    }

    #popular-cars .container {
        margin: 20px 0 ;
    }

    #why-us .reasons-container{
        height: 30px !important;
        margin : 10px 0;
    }

    
    .car-details {
        font-size: 20px;
    }

    header .container {
        height: 7vh;
        padding-top: 20px;
    }

    header .hamBurger {
        padding-top: 15px;
    }
    #landing-page {
        height: 70vh;
    }



}

/* commons */

.pt-2{
    padding-top: 20px;
}

